#include <windows.h>
#include "resource.h"

1 RT_MANIFEST "Application.manifest"

1 VERSIONINFO
FILEVERSION     0,0,0,1
PRODUCTVERSION  0,0,0,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "SketchyCo"
      VALUE "FileDescription", "Dewarping and vignetting correction"
      VALUE "FileVersion", "0.001"
      VALUE "InternalName", "picture_preprocessor"
      VALUE "LegalCopyright", "Jason Li"
      VALUE "OriginalFilename", "picture_preprocessor.exe"
      VALUE "ProductName", "PicturePreprocessor"
      VALUE "ProductVersion", "0.001"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END

IDI_MYEXEICON ICON "exeicons.ico"

IDI_MYICON ICON "icons.ico"

IDD_SELECTDIRECTORY DIALOG 0, 0, 200, 300
STYLE WS_CAPTION | WS_POPUPWINDOW | WS_MINIMIZEBOX | WS_VISIBLE
CAPTION "Select Directory"
FONT 8, "MS Sans Serif"
BEGIN
	EDITTEXT IDC_INPUTDIRECTORY, 10, 10, 180, 14
	PUSHBUTTON "Choose Input Directory", IDC_SELECTINPUTDIRECTORY, 10, 26, 100, 14
	EDITTEXT IDC_OUTPUTDIRECTORY, 10, 42, 180, 14
	PUSHBUTTON "Choose Output Directory", IDC_SELECTOUTPUTDIRECTORY, 10, 58, 100, 14
	DEFPUSHBUTTON "Begin Processing", IDOK, 10, 240, 60, 14
END

IDD_PROCESSPROGRESS DIALOG 0, 0, 400, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Processing..."
FONT 8, "MS Sans Serif"
BEGIN
	PUSHBUTTON "Cancel", IDCANCEL, 340, 10, 50, 14
END